ion-content {
  --background: #000;
  --overflow: hidden;
}

.slides {
  height: 100%;

  .slide {
    height: 100%;

    .slide-wrapper {
      height: 100%;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      color: #fff;

      .main-content {
        flex: 4;
        background-size: cover;
      }

      .secondary-content {
        text-align: left;
        flex: 1;
      }
    }
  }
}
