<ion-header>
  <ion-toolbar>
    <ion-title>
      Title
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides class="slides" [options]="options">
    <ion-slide class="slide">

      <div class="slide-wrapper">
        <div class="main-content item-1" [style.background-image]="'url(https://img2.10bestmedia.com/Images/Photos/352450/GettyImages-913753556_54_990x660.jpg)'">

        </div>

        <div class="secondary-content">
          <p class="description">This is the description 1</p>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="slide">

      <div class="slide-wrapper">
        <div class="main-content item-2" [style.background-image]="'url(https://img2.10bestmedia.com/Images/Photos/352450/GettyImages-913753556_54_990x660.jpg)'">

        </div>

        <div class="secondary-content">
          <p class="description">This is the description 2</p>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="slide">

      <div class="slide-wrapper">
        <div class="main-content item-3" [style.background-image]="'url(https://img2.10bestmedia.com/Images/Photos/352450/GettyImages-913753556_54_990x660.jpg)'">
          <ion-item>
            <ion-label>teste</ion-label>
            <ion-input></ion-input>
          </ion-item>
        </div>

        <div class="secondary-content">
          <p class="description">This is the description 3</p>
        </div>
      </div>
    </ion-slide>

    <ion-slide class="slide">

      <div class="slide-wrapper">
        <div class="main-content item-4" [style.background-image]="'url(https://img2.10bestmedia.com/Images/Photos/352450/GettyImages-913753556_54_990x660.jpg)'">

        </div>

        <div class="secondary-content">
          <p class="description">This is the description 4</p>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>